@font-face{
    font-family: 'nordic';
    src:url('font/Norse-Bold.otf') format('opentype');
    font-weight:normal;
    font-style:normal;
}

body{
    font-family: sans-serif;
    color:#2c2c2c;
    background:black;
}

.page-wrap{
    display:flex;
    flex:auto;
    max-width:100vw;
    max-height: 100vh;
    margin: auto;
}

.side{
    position:relative;
    flex:auto;
    background: #2c2c2c;
    overflow:hidden;
    object-fit:contain;
    width:30%
}

.bg-img{
    position:relative;
    width:auto;
    height:100%;
}

.logo,
.odin{
    height:100px;
    z-index:1;
}

.logo{
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:20vh;
    width:100%;
    padding:10px;
    background:rgb(0,0,0,69%);

    color:white;
    font-size:4rem;
    font-family:'nordic', sans-serif;
}

.main{
    flex-wrap:wrap;
    width:70%;
    background:beige;
}   

.info-box{
    position:relative;
    width:auto;
    padding:20px 0 40px 90px;
    background-color: white;
    box-shadow: 1px 1px 5px #696969;
}

input{
    margin-bottom:10px;
}

.text{
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 50px 50px 50px 90px;
    min-width: auto;
    max-width: 500px;
}

p{
    font-weight: bold;
}

.italics{
    font-style: italic;
}

.submit{
    margin-top: 40px;
    margin-left: 90px;
}

button{
    width:90px;
    color:white;
    background:#596D48;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #696969;
}



.name,
.contact,
.password{
    font-size: .9rem;
    display:flex;
    margin-bottom:10px;
    gap:10px;
}

label,
input{
    display: block;
}